Repository VladislavPetyukevich/GulagGazRoom, pull requests merged in 2023-10, with the labels that each got.

#237 Feat/frontend videochat
  Frontend/index.html
  Frontend/public/styles.css
  Frontend/source/index.ts
  Frontend/source/logic/Api.ts
  Frontend/source/logic/CodeEditor.ts
  Frontend/source/logic/HTMLElements.ts
  Frontend/source/logic/Settings.ts
  Frontend/source/logic/WebSocketConnection.ts
  Frontend/source/view/TextCanvas.ts
  Frontend/source/view/constants.ts
  Frontend/source/view/scenes/Stats.ts
  Frontend/source/view/scenes/testScene.ts
  FrontendAdmin/package-lock.json
  FrontendAdmin/package.json
  FrontendAdmin/src/apiDeclarations.ts
  FrontendAdmin/src/components/FieldsBlock/FieldsBlock.css
  FrontendAdmin/src/components/ReactionsList/ReactionsList.css
  FrontendAdmin/src/components/ReactionsList/ReactionsList.tsx
  FrontendAdmin/src/constants.ts
  FrontendAdmin/src/context/AuthContext.ts
  FrontendAdmin/src/hooks/useGetMeApi.ts
  FrontendAdmin/src/index.css
  FrontendAdmin/src/pages/Room/Room.css
  FrontendAdmin/src/pages/Room/Room.tsx
  FrontendAdmin/src/pages/Room/components/ActiveQuestion/ActiveQuestion.css
  FrontendAdmin/src/pages/Room/components/Interviewee/Interviewee.tsx
  FrontendAdmin/src/pages/Room/components/Reactions/Reactions.tsx
  FrontendAdmin/src/pages/Room/components/Twitch/Twitch.tsx
  FrontendAdmin/src/pages/Room/components/VideoChat/MessagesChat.css
  FrontendAdmin/src/pages/Room/components/VideoChat/MessagesChat.tsx
  FrontendAdmin/src/pages/Room/components/VideoChat/VideoChat.css
  FrontendAdmin/src/pages/Room/components/VideoChat/VideoChat.tsx
  FrontendAdmin/src/pages/Room/components/VideoChat/VideoChatVideo.tsx
  FrontendAdmin/src/pages/Room/components/VideoChat/VideochatParticipant.tsx
  FrontendAdmin/src/pages/Room/components/VideoChat/utils/createAudioAnalyser.ts
  FrontendAdmin/src/pages/Room/components/VideoChat/utils/getAverageVolume.ts
  FrontendAdmin/src/pages/Room/components/VideoChat/utils/limitLength.ts
  FrontendAdmin/src/pages/Room/components/VideoChat/utils/randomId.ts
  FrontendAdmin/src/pages/Room/components/VideoChat/utils/stringToColor.ts
  FrontendAdmin/src/pages/RoomAnayticsSummary/components/RoomReviews/RoomReviews.tsx
  FrontendAdmin/src/routes/AppRoutes.tsx
  FrontendAdmin/src/types/room.ts
  FrontendAdmin/src/types/transcript.ts
  FrontendAdmin/src/types/user.ts
  FrontendAdmin/src/utils/checkAdmin.ts
  FrontendAdmin/tsconfig.json
Labels: enhancement, frontend-area

#242 Feature/#240
  Backend/Interview.Backend/Rooms/RoomController.cs
  Backend/Interview.Domain/Rooms/IRoomRepository.cs
  Backend/Interview.Domain/Rooms/Permissions/RoomServicePermissionAccessor.cs
  Backend/Interview.Domain/Rooms/Records/Request/RoomPageDetailRequestFilter.cs
  Backend/Interview.Domain/Rooms/Service/IRoomService.cs
  Backend/Interview.Domain/Rooms/Service/RoomService.cs
  Backend/Interview.Infrastructure/Rooms/RoomRepository.cs
Labels: enhancement, backend-area

#245 Feature/#243
  Backend/Interview.Backend/WebSocket/Events/ConnectionListener/VideoChatConnectionListener.cs
  Backend/Interview.Backend/WebSocket/Events/Handlers/ReturningSignalWebSocketEventHandler.cs
  Backend/Interview.Backend/WebSocket/Events/Handlers/SendingSignalWebSocketEventHandler.cs
  FrontendAdmin/src/pages/Room/components/VideoChat/VideoChat.tsx
Labels: enhancement, backend-area, frontend-area

#252 Backend, UserService - Added new default permissions for user
  Backend/Interview.Domain/Questions/Permissions/QuestionServicePermissionAccessor.cs
  Backend/Interview.Domain/Users/Permissions/IPermissionRepository.cs
  Backend/Interview.Domain/Users/Roles/RoleName.cs
  Backend/Interview.Domain/Users/Service/UserService.cs
  Backend/Interview.Infrastructure/Users/PermissionRepository.cs
Labels: bug, backend-area
