Repository VladislavPetyukevich/GulagGazRoom, pull requests merged in 2023-06, with the labels that each got.

#178 Backend, RoomRepository - RoomStatus in GetDetailedPageAsync
  Backend/Interview.Domain/Rooms/Service/Records/Response/Page/RoomPageDetail.cs
  Backend/Interview.Infrastructure/Rooms/RoomRepository.cs
Labels: backend-area

#177 Backend, UserController - Admins route
  Backend/Interview.Backend/Users/UserController.cs
Labels: backend-area

#183 Backend, RoomReviewService - Added ability filter by roomId
  Backend/Interview.Backend/Questions/QuestionController.cs
  Backend/Interview.Backend/Reactions/ReactionController.cs
  Backend/Interview.Backend/RoomReviews/RoomReviewController.cs
  Backend/Interview.Backend/Rooms/RoomController.cs
  Backend/Interview.Backend/Users/UserController.cs
  Backend/Interview.DependencyInjection/ServiceCollectionExt.cs
  Backend/Interview.Domain/PageRequest.cs
  Backend/Interview.Domain/RoomReviews/Records/RoomReviewPageRequest.cs
  Backend/Interview.Domain/RoomReviews/RoomReviewService.cs
Labels: enhancement, backend-area

#184 Backend, RoomController - Added startReview endpoint
  Backend/Interview.Backend/Rooms/RoomController.cs
  Backend/Interview.Domain/Rooms/Service/RoomService.cs
Labels: enhancement, backend-area

#188 Backend, RoomChangeEntityProcessor - Send room status to ws
  Backend/Interview.DependencyInjection/ServiceCollectionExt.cs
  Backend/Interview.Domain/Events/ChangeEntityProcessors/RoomChangeEntityProcessor.cs
  Backend/Interview.Domain/Events/EventType.cs
Labels: enhancement, backend-area

#190 Backend, room-review - Added state filter
  Backend/Interview.Domain/RoomReviews/Records/RoomReviewPageRequest.cs
  Backend/Interview.Domain/RoomReviews/RoomReviewService.cs
Labels: enhancement

#189 Backend, RoomReviewRepository - User nickname in GetDetailedPageAsync
  Backend/Interview.Backend/RoomReviews/RoomReviewController.cs
  Backend/Interview.Domain/RoomReviews/IRoomReviewRepository.cs
  Backend/Interview.Domain/RoomReviews/Response/Page/RoomReviewPageDetail.cs
  Backend/Interview.Domain/RoomReviews/RoomReviewService.cs
  Backend/Interview.Infrastructure/RoomReviews/RoomReviewRepository.cs
Labels: enhancement, backend-area

#187 Backend, RoomReviewController - Access to room reviews for everyone
  Backend/Interview.Backend/RoomReviews/RoomReviewController.cs
  Backend/Interview.Domain/Repository/IRepository.cs
  Backend/Interview.Domain/Repository/Specification/EntityByIdSpecification.cs
  Backend/Interview.Domain/RoomQuestionReactions/Specifications/RoomReactionsSpecification.cs
  Backend/Interview.Domain/RoomReviews/RoomReviewService.cs
  Backend/Interview.Domain/Users/Specification/UserByRoleSpecification.cs
  Backend/Interview.Infrastructure/Database/EfRepository.cs
Labels: enhancement, backend-area

#191 Backend, RoomParticipantController - GetParticipant
  Backend/Interview.Backend/RoomParticipants/RoomParticipantController.cs
  Backend/Interview.Domain/RoomParticipants/Records/Request/RoomParticipantGetRequest.cs
  Backend/Interview.Domain/RoomParticipants/Service/RoomParticipantService.cs
Labels: enhancement, backend-area
