Repository VladislavPetyukevich/GulagGazRoom, pull requests merged in 2023-03, with the labels that each got.

#39 feature/#36 Изменен формат возвращения в room getPage + [questions, users]
  Backend/Interview.Backend.sln.DotSettings.user
  Backend/Interview.Backend/Questions/QuestionController.cs
  Backend/Interview.Backend/Rooms/RoomController.cs
  Backend/Interview.Backend/Users/UserController.cs
  Backend/Interview.Backend/WebSocket/JobWriter.cs
  Backend/Interview.DependencyInjection/DependencyInjectionAppServiceOption.cs
  Backend/Interview.DependencyInjection/ServiceCollectionExt.cs
  Backend/Interview.Domain/IRepository.cs
  Backend/Interview.Domain/Rooms/IRoomRepository.cs
  Backend/Interview.Domain/Rooms/Service/Response/RoomPageDetail.cs
  Backend/Interview.Domain/Rooms/Service/Response/RoomQuestionPageDetail.cs
  Backend/Interview.Domain/Rooms/Service/Response/RoomUserPageDetail.cs
  Backend/Interview.Domain/Rooms/Service/RoomService.cs
  Backend/Interview.Domain/Users/AdminUsers.cs
  Backend/Interview.Infrastructure/Database/EfRepository.cs
  Backend/Interview.Infrastructure/Rooms/RoomRepository.cs
Labels: enhancement, good first issue, backend-area

#40 Feature/#29
  Backend/Interview.Backend/Auth/ClaimsPrincipalExt.cs
  Backend/Interview.Backend/Auth/ServiceCollectionExt.cs
  Backend/Interview.Domain/Users/User.cs
  Backend/Interview.Domain/Users/UserService.cs
  Backend/Interview.Test/Integrations/AppDbContextTest.cs
  Backend/Interview.Test/Integrations/UserServiceTest.cs
  Backend/Interview.Test/Units/Users/UserRepositoryTest.cs
  Backend/Interview.Test/Units/Users/UserServiceTest.cs
Labels: enhancement, backend-area

#58 Backend, Repository - Added Mapper
  Backend/Interview.Domain/IRepository.cs
  Backend/Interview.Domain/Questions/IQuestionRepository.cs
  Backend/Interview.Domain/Questions/Question.cs
  Backend/Interview.Domain/Reactions/Reaction.cs
  Backend/Interview.Domain/Repository/Entity.cs
  Backend/Interview.Domain/Repository/IMapper.cs
  Backend/Interview.Domain/Repository/IRepository.cs
  Backend/Interview.Domain/Rooms/IRoomRepository.cs
  Backend/Interview.Domain/Rooms/Room.cs
  Backend/Interview.Domain/Rooms/Service/RoomService.cs
  Backend/Interview.Domain/Users/IUserRepository.cs
  Backend/Interview.Domain/Users/Roles/IRoleRepository.cs
  Backend/Interview.Domain/Users/Roles/Role.cs
  Backend/Interview.Domain/Users/User.cs
  Backend/Interview.Infrastructure/Database/AppDbContext.cs
  Backend/Interview.Infrastructure/Database/Configurations/EntityTypeConfigurationBase.cs
  Backend/Interview.Infrastructure/Database/EfRepository.cs
  Backend/Interview.Infrastructure/Questions/QuestionRepository.cs
  Backend/Interview.Infrastructure/Rooms/RoomRepository.cs
  Backend/Interview.Infrastructure/Users/RoleRepository.cs
  Backend/Interview.Test/Integrations/AppDbContextTest.cs
  Backend/Interview.Test/Integrations/EfCoreRepositoryTest.cs
  Backend/Interview.Test/Units/AbstractRepositoryTest.cs
Labels: enhancement, backend-area

#79 feature/#62 Исправлена установка идентификатора пользователя в claim
  Backend/Interview.Backend/Auth/ClaimsPrincipalExt.cs
Labels: bug, backend-area

#76 feature/#67 Добавлено получение страниц реакций
  Backend/Interview.Backend/Reactions/ReactionController.cs
  Backend/Interview.DependencyInjection/ServiceCollectionExt.cs
  Backend/Interview.Domain/Reactions/ReactionService.cs
  Backend/Interview.Domain/Reactions/Records/ReactionDetail.cs
Labels: enhancement, backend-area

#80 Feature/#64 Исправлено получение пользовательских данных
  Backend/Interview.Backend/Auth/ClaimsPrincipalExt.cs
  Backend/Interview.Backend/Auth/UserClaim.cs
  Backend/Interview.Backend/Auth/UserClaimConstants.cs
  Backend/Interview.Backend/Auth/UserClaimService.cs
  Backend/Interview.Backend/ServiceConfigurator.cs
  Backend/Interview.Backend/Users/UserController.cs
  Backend/Interview.Domain/Users/UserService.cs
Labels: bug, backend-area

#82 feature/#81 Изменен тип пользователя для добавления участника комнаты
  Backend/Interview.Backend/RoomParticipants/RoomParticipantController.cs
  Backend/Interview.Backend/RoomQuestions/RoomQuestionController.cs
  Backend/Interview.Domain/RoomParticipants/Records/Request/RoomParticipantChangeStatusRequest.cs
  Backend/Interview.Domain/RoomParticipants/Service/RoomParticipantService.cs
  Backend/Interview.Domain/RoomQuestions/RoomQuestionService.cs
Labels: bug, backend-area

#85 Feature/#83 Добавлен endpoint для создания участников в комнате
  Backend/Interview.Backend/RoomParticipants/RoomParticipantController.cs
  Backend/Interview.Domain/RoomParticipants/IRoomParticipantRepository.cs
  Backend/Interview.Domain/RoomParticipants/Records/Request/RoomParticipantCreateRequest.cs
  Backend/Interview.Domain/RoomParticipants/Records/Response/RoomParticipantDetail.cs
  Backend/Interview.Domain/RoomParticipants/Service/RoomParticipantService.cs
  Backend/Interview.Infrastructure/RoomParticipants/RoomParticipantRepository.cs
Labels: enhancement, backend-area

#90 bugfix/#89 Исправлен swagger
  Backend/Interview.Backend/MiddlewareConfigurator.cs
  Backend/Interview.Backend/RoomParticipants/RoomParticipantController.cs
  Backend/Interview.Backend/WebSocket/Configuration/WebSocketAuthorizationMiddleware.cs
  Backend/Interview.Backend/WebSocket/Configuration/WebSocketAuthorizationOptions.cs
Labels: bug, backend-area

#96 Backend, ChangeEntityProcessor - Added RoomQuestionChangeEntityProcessor
  Backend/Interview.DependencyInjection/ServiceCollectionExt.cs
  Backend/Interview.Domain/Events/ChangeEntityProcessors/IChangeEntityProcessor.cs
  Backend/Interview.Domain/Events/ChangeEntityProcessors/RoomQuestionChangeEntityProcessor.cs
  Backend/Interview.Domain/Events/EventType.cs
  Backend/Interview.Domain/Events/Events/IRoomEvent.cs
  Backend/Interview.Domain/Interview.Domain.csproj
Labels: bug, backend-area

#101 Backend, RoomController - Added GetRoomState endpoint
  Backend/Interview.Backend/RoomParticipants/RoomParticipantController.cs
  Backend/Interview.Backend/Rooms/RoomController.cs
  Backend/Interview.Backend/ServiceConfigurator.cs
  Backend/Interview.Domain/Connections/IConnectUserSource.cs
  Backend/Interview.Domain/Repository/IRepository.cs
  Backend/Interview.Domain/RoomParticipants/Records/Request/RoomParticipantChangeStatusRequest.cs
  Backend/Interview.Domain/RoomParticipants/Records/Response/RoomParticipantDetail.cs
  Backend/Interview.Domain/RoomParticipants/Service/RoomParticipantService.cs
  Backend/Interview.Domain/RoomQuestionReactions/Mappers/ReactionTypeOnlyMapper.cs
  Backend/Interview.Domain/RoomQuestionReactions/Specifications/RoomReactionsSpecification.cs
  Backend/Interview.Domain/RoomQuestions/Records/Response/RoomQuestionDetail.cs
  Backend/Interview.Domain/RoomQuestions/RoomQuestionService.cs
  Backend/Interview.Domain/Rooms/IRoomRepository.cs
  Backend/Interview.Domain/Rooms/Room.cs
  Backend/Interview.Domain/Rooms/Service/Records/Response/Detail/RoomDetail.cs
  Backend/Interview.Domain/Rooms/Service/Records/Response/Detail/RoomQuestionDetail.cs
  Backend/Interview.Domain/Rooms/Service/Records/Response/Detail/RoomUserDetail.cs
  Backend/Interview.Domain/Rooms/Service/Records/Response/RoomStates/RoomState.cs
  Backend/Interview.Domain/Rooms/Service/Records/Response/RoomStates/RoomStateQuestion.cs
  Backend/Interview.Domain/Rooms/Service/RoomService.cs
  Backend/Interview.Infrastructure/Database/EfRepository.cs
  Backend/Interview.Infrastructure/RoomQuestionReactions/RoomQuestionReactionRepository.cs
  Backend/Interview.Infrastructure/Rooms/RoomRepository.cs
  Backend/Interview.Test/Integrations/RoomServiceTest.cs
  Backend/Interview.Test/Units/Rooms/RoomServiceTest.cs
Labels: enhancement, backend-area

#103 Backend, TwitchChatClient - Resolved #97
  Backend/Interview.Infrastructure/Chat/TwitchChatClient.cs
Labels: enhancement, backend-area

#102 Backend, API - Added RateLimiter
  Backend/Interview.Backend/MiddlewareConfigurator.cs
  Backend/Interview.Backend/ServiceConfigurator.cs
Labels: enhancement, backend-area

#139 feature/#138 Стандартизировал REST API для Question
  Backend/Interview.Backend/Interview.Backend.csproj
  Backend/Interview.Backend/MiddlewareConfigurator.cs
  Backend/Interview.Backend/Program.cs
  Backend/Interview.Backend/Questions/QuestionController.cs
  Backend/Interview.Domain/Questions/QuestionEditRequest.cs
  Backend/Interview.Domain/Questions/QuestionService.cs
  Backend/Interview.Domain/Rooms/Analytics.cs
  Backend/Interview.Infrastructure/Rooms/RoomRepository.cs
Labels: enhancement, backend-area
